<div class="frame-parent16">
    <div class="logo-wrapper2">
      <div class="logo4">
        <div class="vector-parent4">
          <img class="vector-icon5" alt="" src="assets/public/vector1.svg" />

          <div class="physician-available">Medics</div>
        </div>
      </div>
    </div>
    <div class="physician-available-parent" id="frameContainer7">
      <div class="physician-available">Physician Available</div>
      <div class="doctor-1-container">
        <div class="doctor-11">
          <div class="doctor-1-item"></div>
          <div class="image-parent">
            <img class="image-icon1" alt="" src="assets/public/image1@2x.png" />

            <div class="name-parent">
              <div class="name">
                <div class="physician-available">Dr. Marcus Horizon</div>
                <div class="primary-care-physician1">
                  Primary Care Physician
                </div>
              </div>
              <div class="iconlyboldlocation-group">
                <img
                  class="iconlyboldlocation1"
                  alt=""
                  src="assets/public/iconlyboldlocation1.svg"
                />

                <div class="bruce-b-downs-container">
                  <p class="bruce-b-downs">
                    12901 Bruce B. Downs Blvd. Tampa,
                  </p>
                  <p class="bruce-b-downs">FL 33612</p>
                </div>
              </div>
              <div class="request-consultation-group">
                <div class="physician-available">Request Consultation</div>
                <img
                  class="frame-icon"
                  alt=""
                  src="assets/public/frame-48095604.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>