<!-- <div class="done-parent">
    <img class="done-icon" alt="" src="./public/done.svg" />

    <div class="frame-parent1">
      <div class="frame-wrapper1">
        <div class="request-sent-parent">
          <div class="request-sent">Request Sent!</div>
          <div class="your-health-summary-container">
            <p class="your-health-summary">Your health summary has been</p>
            <p class="your-health-summary">
              <span class="sent-to">sent to </span>
              <span class="dr-marcus-horizon">Dr. Marcus Horizon. </span>
              <span
                >We will contact you shortly with available appointment
                slots.</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="button1">
        <div class="button-child"></div>
        <div class="got-it">Got It!</div>
      </div>
    </div>
  </div> -->


  <h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
  Would you like to delete cat.jpeg?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>