<div class="frame-parent6">
    <div class="logo-wrapper1">
      <div class="logo3">
        <div class="vector-parent3">
          <img class="vector-icon4" alt="" src="assets/public/vector1.svg" />

          <div class="john-lenon">Medics</div>
        </div>
      </div>
    </div>
    <div class="frame-parent7">
      <div class="frame-parent8">
        <div class="frame-parent9">
          <div class="patient-information-wrapper">
            <div class="patient-information">Patient Information</div>
          </div>
          <div class="frame-parent10">
            <div class="john-lenon-wrapper">
              <div class="john-lenon">John Lenon</div>
            </div>
            <div class="parent">
              <div class="div">35</div>
              <div class="ellipse-div"></div>
              <div class="div">Male</div>
              <div class="ellipse-div"></div>
              <div class="div">Operations manager</div>
            </div>
          </div>
          <div class="line"></div>
        </div>
        <div class="frame-parent9">
          <div class="patient-information-wrapper">
            <div class="patient-information">Symptoms</div>
          </div>
          <div class="frame-wrapper3">
            <div class="persistent-headache-pressure-wrapper">
              <div class="persistent-headache-pressure">
                Persistent headache, pressure behind the eyes, fatigue, and a
                scratchy throat. No runny or stuffy nose, cough, or fever were
                reported. Based on the symptoms described
              </div>
            </div>
          </div>
          <div class="line"></div>
        </div>
        <div class="frame-parent9">
          <div class="patient-information-wrapper">
            <div class="patient-information">Allergies</div>
          </div>
          <div class="frame-wrapper4">
            <div class="persistent-headache-pressure-wrapper">
              <div class="allergic-to-penicillin">Allergic to penicillin</div>
            </div>
          </div>
          <div class="line"></div>
        </div>
        <div class="frame-parent9">
          <div class="patient-information-wrapper">
            <div class="patient-information">Analysis</div>
          </div>
          <div class="frame-wrapper3">
            <div class="persistent-headache-pressure-wrapper">
              <div class="possible-tension-headache">
                Possible tension headache or sinus-related issue
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-parent14">
        <div class="acknowledgement-parent">
          <div class="john-lenon">Acknowledgement</div>
          <div class="please-confirm-or">
            Please confirm or revise your symptoms summary document before
            proceeding
          </div>
        </div>
        <div class="group-parent4">
          <img class="frame-child6" alt="" src="assets/public/group-1007.svg" />

          <div class="i-agree-to-container">
            <span class="i-agree-to-the">
              <span>I agree to th</span>
              <span class="e">e </span>
            </span>
            <span class="terms-of-service">
              <span>Terms of Service</span>
              <span class="e"> </span>
            </span>
            <span class="e">
              <span>and</span>
            </span>
            <span class="terms-of-service">
              <span class="e"> </span>
              <span>Privacy Policy</span>
            </span>
          </div>
        </div>
      </div>
      <div class="vector-wrapper">
        <img class="frame-child7" alt="" src="assets/public/vector-1.svg" />
      </div>
      <div class="frame-parent15">
        <div class="talk-to-salus-wrapper">
          <div class="talk-to-salus">Talk to Salus</div>
        </div>
        <div class="send-consultation-request-wrapper" (click)="submitConsult()">
          <div class="talk-to-salus">Send Consultation Request</div>
        </div>
      </div>
    </div>
    <div class="group-parent5">
      <img class="frame-child8" alt="" src="assets/public/group-1027.svg" />

      <div class="john-lenon">Health Summary</div>
    </div>
    <div class="frame-child9"></div>
  </div>
